# Licença Privada

© 2025 Claudio Henrique Antunes Mello

Todos os direitos reservados.

Este código-fonte é privado e proprietário.  
Nenhuma parte deste código pode ser reproduzida, distribuída, copiada, modificada, exibida publicamente ou usada de qualquer forma sem a autorização expressa por escrito do autor.

Uso, distribuição ou reprodução não autorizados deste código são estritamente proibidos e podem resultar em sanções legais.

---

Contato para autorização: [claudio.dev34@gmail.com]
node_modules
