.burguer-img {
  width: 900px;
  height: auto;
  position: fixed;    
  right: 10%;           
  top: 50%;           
  transform: translateY(-50%);
  filter: brightness(1) contrast(1) saturate(1);
}

@media (max-width: 767px) {
  .burguer-img  {
    width: 50px;
    height: auto;
    right: -5%;          
    top: 45%;           
    position: fixed;
    transform: translateY(-50%);
    filter: brightness(1) contrast(1) saturate(1);  
  }
}